<section>
    @if (isLoading()) {
        <app-spinner/>
    }
    @else {
        <mat-radio-group
            class="block mt-4"
            (change)="filterBy.set($event.value)"
        >
            <mat-radio-button value="all" checked i18n="@@All">All</mat-radio-button>
            <mat-radio-button value="COMPLETED" i18n="@@Completed">Completed</mat-radio-button>
            <mat-radio-button value="IN_PROGRESS" i18n="@@InProgress">In progress</mat-radio-button>
        </mat-radio-group>

        <div class="flex">
            <div class="flex-col w-144 mr-10">
                <ul class="first:mt-0">
                    @for (todo of filteredToList(); track todo.id) {
                        <li>
                            <app-todo-item
                                appHint="Click to select"
                                i18n-appHint="Hint | Click to select"
                                [routerLink]="[todo.id]"
                                [todo]="todo"
                                (todoDeleted)="onTodoDeleted(todo)"
                                (todoUpdated)="onTodoContentUpdated(todo.id, $event)"
                                (todoChecked)="onTodoChecked(todo.id, $event)"
                            />
                        </li>
                    }
                </ul>
            </div>
            <router-outlet/>
        </div>
        <app-create-todo
            class="block mt-8"
            (addTodo)="onTodoAdded($event)"
        />
    }
</section>
