<div
    class="bg-gray-200 rounded-md p-1 mt-2 flex justify-between items-center"
    [class.bg-green-200]="selected()"
>
    @if (editing()) {
        <mat-form-field class="w-122">
            <input
                #editInput
                matInput
                [placeholder]="todo().title"
                [(ngModel)]="currentText"
            >
        </mat-form-field>
    }
    @else {
        <div class="flex items-center">
            <mat-checkbox
                appHint="Click to check/uncheck"
                [checked]="todo().status === 'COMPLETED'"
                (change)="todoChecked.emit($event.checked)"
            />
            <span class="ml-2">{{ todo().title }}</span>
        </div>
    }

    @if (editing()) {
        <app-button
            color="green"
            appHint="Click to save"
            [disabled]="!currentText"
            (clicked)="onSave()"
        >
            Save
        </app-button>
    }
    @else {
        <app-button
            color="red"
            appHint="Click to delete"
            (clicked)="onDelete()"
            (dblclick)="$event.stopPropagation()"
        >
            Delete
        </app-button>
    }

</div>
